.button {
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  margin: 20px auto 10px auto;
  display: block;
  padding: .55rem;
  border-radius: 2px;
  font-size: 1.2rem;
  width: 150px;
  border: 2px solid #FFF;
  transition: background-color .75s;

  @mixin atSmall {
    margin: 20px auto 0 auto;
    font-size: 1.3rem;
    width: 40%;
  }

  @mixin atMedium {
    display: inline-block;
    font-size: 1.3rem;
    width: 179px;
    margin: 30px 30px 0 0;
    padding: .75rem 1.2rem;
  }

  @mixin atLarge{
    border: 5px solid #FFF;
    margin: 30px 30px 0 0;
    display: inline-block;
    padding: .75rem 1.2rem;
    font-size: 1.5rem;
    width: 230px;
  }
}

.button:hover {
  background-color: $mainBlue;
  border: 2px solid #FFF;
  color: #fff;
}
