.home-content {

  background-color: #000;
  position: relative;
  height: 400px;
  overflow: hidden;
  color: #FFF;
  background: url(../../../assets/images/home-content-img-smallest.jpg) no-repeat;
  background-size: cover;

  @mixin atSmall {
    background: url(../../../assets/images/home-content-img-small.jpg) no-repeat;
    background-size: cover;
  }

  @mixin atMedium {
    background: url(../../../assets/images/home-content-img-medium.jpg) no-repeat;
    background-size: cover;
    height: 450px;
  }

  @mixin atLarge {
    background: url(../../../assets/images/home-content-img-large.jpg) no-repeat;
    background-size: cover;
    height: 600px;
  }
}

.home-content__text-content {
  background-color: transparent;
  position: absolute;
  max-width: 100%;
  z-index: 2;
  margin: 0 10px;

  @mixin atSmall {
    margin: 0 30px;
  }

  @mixin atMedium {
    width: 60%;
    margin-left: 10%;
    top: 50%;
    transform: translateY(-50%);
  }

  @mixin atLarge {
    margin-left: 15%;
    max-width: 50%;
  }
}

.home-content__title {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 300;
  margin: 50px 0 20px 0;

  @mixin atSmall {
    font-size: 2.6rem;
    font-weight: 400;
    margin: 50px 0 20px 0;
  }

  @mixin atMedium {
    font-size: 2.9rem;
    font-weight: 500;
    text-align: left;
    margin: 0 0 20px 0;
  }

  @mixin atLarge {
    font-size: 3.5rem;
    font-weight: 600;
    margin: 0 0 20px 0;
  }
}

.home-content__description {
  font-size: 1.5rem;
  font-weight: 100;
  text-align: center;

  @mixin atSmall {
    font-size: 1.7rem;
    font-weight: 200;
  }

  @mixin atMedium {
    font-size: 1.9rem;
    font-weight: 300;
    text-align: left;
  }

  @mixin atLarge {
    width: 85%;
    font-size: 2.29rem;
    text-align: left;
    font-weight: 400;
  }
}

.home-content__image {
  display: none;

  @mixin atMedium {
    display: block;
    border-radius: 50%;
    float: right;
  }
}
