
.spinning-image {
  display: none;

  @mixin atMedium {
    display: block;
    border-radius: 50%;
    transform: translate(20px, 50px);
  }

  @mixin atLarge {
  display: block;
  position: relative;
  animation: spinningAnimationLarge 180s linear infinite alternate;
  }
}

.centered-image {
  opacity: .6;
  margin-top: 40px;

  @mixin atLarge {
    margin-top: 40px;
  }

  @mixin atLargest {
    margin-top: 25px;
  }
}
