.main-nav {
  opacity: 0;
  padding-top: 70px;
  text-align: center;
  z-index: -10;
  transform: scale(1.1);
  transition: all .2s 0s;

  @mixin atMedium {
    opacity: 1;
    z-index: 1;
    padding-top: 0;
    display: block;
    transform: scale(1);
  }

  &--is-visible {
    transform: scale(1);
    opacity: 1;
    z-index: 1;
    transition: all .4s ease-in-out .3s;
  }

  &--right {
    @mixin atMedium {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    display: inline-block;
    padding-right: 20px;

    @mixin atMedium {
      float: left;
    }
  }

  li:last-child {
    padding-right: 0;

    @mixin atMedium {
      padding-right: 20px;
    }
  }

  a {
    color: #FFF;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 200;
    display: block;
    padding: 18px 5px;

    @mixin atMedium {
      font-size: 1.6rem;
      padding: 15px 0;
    }

    &:hover {
      color: $mainBlue;
    }
  }
}
