/* Styling for revealing the portfolio items */

.reveal-portfolio {
  opacity: 0;
  transition: all 1.5s ease-out;

  &--is-visible {
    opacity: 1;
  }
}

.reveal-portfolio--travel {
  transition-delay: .2s;
}

.reveal-portfolio--dice-game {
  transition-delay: .4s;
}

.reveal-portfolio--budget-app {
  transition-delay: .6s;
}

.reveal-portfolio--recipy {
  transition-delay: .8s;
}

.reveal-portfolio--six {
  transition-delay: 1s;
}

/*  End of styling for revealing the portfolio items */
